@import './variables.css';


body {
    background-color: var(--bg-light);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Общие стили для карточек */
.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
}

/* Стили для таблиц */
table {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
}

/* Стили для форм */
input, select {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

input:focus, select:focus {
    outline: 2px solid var(--primary-color);
}